<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">Fresh</div>
			<div>
				<ul class="list-group list-group-flush">
					{{#each freshBurgers}}
					<li data-id="{{id}}" class="list-group-item burger-list-item">
						{{name}}
						<button class="btn btn-danger devour-btn">Devour!</button>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">Devoured</div>
			<div>
				<ul class="list-group list-group-flush">
					{{#each devouredBurgers}}
					<li data-id="{{id}}" class="list-group-item burger-list-item">
						{{name}}
						<button class="btn btn-success regurgitate-btn">Regurgitate!</button>

					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<form action="/">
			<div class="form-group">
				<label for="burgers"></label>
				<textarea name="name" class="form-control" rows="3"></textarea>
			</div>
			<button class="btn btn-primary submit-btn" type="submit">Submit</button>
		</form>
	</div>
</div>
<div class="row"></div>
